<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body class="home">
    <%- include('./partials/nav.ejs') %>
    <h1>UBER</h1>
    <p>
      Implement UBER like service for freight trucks, in REST style, using
      MongoDB as database. This service should help regular people to deliver
      their stuff and help drivers to find loads and earn some money.
      Application contains 2 roles, driver and shipper.
    </p>
  </body>
</html>
