<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body class="home">
    <%- include('./partials/nav.ejs') %>
    <form action="/api/auth/register">
      <h2>Sign up</h2>
      <label for="email">Email</label>
      <input type="text" name="username" required />
      <div class="email-err"></div>
      <label for="password">Password</label>
      <input type="password" name="password" required />
      <div class="password-err"></div>
      <label for="role">Choose your role</label>
      <select name="role">
        <option value="#"></option>
        <option value="shiper">SHIPER</option>
        <option value="driver">DRIVER</option>
      </select>
      <div class="#"></div>
      <button>Sign up</button>
    </form>

    <script>
      const form = document.querySelector('form');
      const emaileError = document.querySelector('.email-err');
      const passwordError = document.querySelector('.password-err');

      form.addEventListener('submit', async (e) => {
        e.preventDefault();

        //reset errors
        emailError.textContent = '';
        passwordError.textContent = '';

        // get values
        const email = form.email.value || req.body.email;
        const password = form.password.value || req.body.password;

        try {
          const res = await fetch('/api/auth/register', {
            method: 'POST',
            body: JSON.stringify({ email, password, role }),
            headers: { 'Content-Type': 'application/json' },
          });

          const data = await res.json();
          console.log(res.json());

          if (data.errors) {
            emailError.textContent = data.errors.email;
            passwordError.textContent = data.errors.password;
            console.log(emailError.textContent, passwordError.textContent);
          }

          if (data.user) {
            location.assign('/');
          }
        } catch (err) {
          console.log(err);
        }
      });
    </script>
  </body>
</html>
